<div class="page-flexbox-wrapper">
  <header class="header">
    <img class="logo m-3" src="./assets/images/logo.png" alt="Gobierno del Estado de Colima">
  </header>
  <div class="Site-content">
    <div class="sidenav">
      <div class="login-main-text">
        <h2>
          Comprobantes<br />
          de Nómina
        </h2>
        <p>
          Para ingrersar es necesario especifique su RFC o CURP, número de
          trabajador y dependencia o adscripción en la que se encuentra registrado.
        </p>
      </div>
    </div>
    <div class="main">
      <div class="col-md-10 col-lg-9 col-sm-12">
        <div class="login-form">
          <form id="frmLogin" [formGroup]="frm" (ngSubmit)="onSubmit()" novalidate>
            <ngb-alert *ngIf="err.err" [dismissible]="false" type="danger">
              <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error!</strong> {{ err.msg }}
            </ngb-alert>
            <div class="form-group">
              <label>Dependencia o adscripción <sup>*</sup></label>
              <select2 
                formControlName="adscripcion" 
                [data]="adscripcion"
                [value]="select2Value"
                customSearchEnabled="true" 
                (search)="searchAdscripcion($event)" 
                (open)="openAdscripcion()" 
                autofocus 
                tabIndex="1" 
                [ngClass]="{ 'is-invalid': submitted && f.adscripcion.invalid }"></select2>
              <span *ngIf="submitted && f.adscripcion.invalid" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Información requerida</span>
            </div>
            <div class="form-group">
              <label>RFC o CURP <sup>*</sup></label>
              <input type="text" formControlName="usuario" class="form-control form-control-sm" tabIndex="2" [ngClass]="{ 'is-invalid': submitted && f.usuario.invalid }"/>
              <span *ngIf="submitted && f.usuario.invalid && f.usuario.errors?.required" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Información requerida</span>
              <span *ngIf="submitted && f.usuario.invalid && f.usuario.errors?.minlength" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> La longitud mínima es de {{ f.usuario.errors?.minlength.requiredLength }}</span>
            </div>
            <div class="form-group">
              <label>Número de trabajador <sup>*</sup></label>
              <input type="text" formControlName="numtrabajador" class="form-control form-control-sm" tabIndex="3" [ngClass]="{ 'is-invalid': submitted && f.numtrabajador.invalid }"/>
              <span *ngIf="submitted && f.numtrabajador.invalid" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Información requerida</span>
            </div>
            <div>
              * Información requerida        
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-black">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer class="footer"></footer>
</div>