<div *ngIf="loaded" class="page-flexbox-wrapper animated fadeIn delay-1s">
  <header class="header">
    <img class="logo m-3" src="./assets/images/logo.png" alt="Gobierno del Estado de Colima">
  </header>
  <div class="Site-content">
    <div class="sidenav">
      <div class="login-main-text">
        <h2>
          Comprobantes<br />
          de Nómina
        </h2>
        <p>
          Para ingrersar es necesario especifique su RFC o CURP, número de
          trabajador y dependencia o adscripción en la que se encuentra registrado.
        </p>
      </div>
    </div>
    <div class="main">
      <div class="col-md-10 col-lg-9 col-sm-12">
        <div class="login-form">
          <form id="frmLogin" [formGroup]="frm" (ngSubmit)="onSubmit()" novalidate>
            <ngb-alert *ngIf="err.err" [dismissible]="false" type="danger">
              <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error!</strong> {{ err.msg }}
            </ngb-alert>
            <div class="form-group">
              <label>Dependencia o adscripción <sup>*</sup></label>
              <ng-select 
                #adscripcionList
                [items]="adscripcion | async"
                bindValue="id"
                bindLabel="name"
                loadingText="cargando..."
                formControlName="adscripcion"
                notFoundText="opción no encontrada"                
                [ngClass]="{'is-invalid': submitted && f.adscripcion.invalid }"
                autofocus>
              </ng-select>
              <span *ngIf="submitted && f.adscripcion.invalid" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Información requerida</span>
            </div>
            <div class="form-group">
              <label>RFC o CURP <sup>*</sup></label>
              <input type="text" formControlName="usuario" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted && f.usuario.invalid }"/>
              <span *ngIf="submitted && f.usuario.invalid && f.usuario.errors?.required" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Información requerida</span>
              <span *ngIf="submitted && f.usuario.invalid && f.usuario.errors?.minlength" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> La longitud mínima es de {{ f.usuario.errors?.minlength.requiredLength }}</span>
            </div>
            <div class="form-group">
              <label>Número de trabajador <sup>*</sup></label>
              <input type="text" formControlName="numtrabajador" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted && f.numtrabajador.invalid }"/>
              <span *ngIf="submitted && f.numtrabajador.invalid" class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Información requerida</span>
            </div>
            <div class="d-flex justify-content-between">
              <div class="form-check d-inline">
                <input type="checkbox" class="form-check-input" id="rememberLogIn" formControlName="remember"           >
                <label class="form-check-label" for="rememberLogIn">Recordar sesión</label>
              </div>
              <span class="text-muted">* Información requerida</span>
            </div>
            <div class="d-flex justify-content-end mt-1">
              <button type="submit" class="btn btn-black">Ingresar</button>
            </div>
            <ngx-invisible-recaptcha #captchaElem
              siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"              
              useGlobalDomain="false"
              theme="light"
              type="image"
              badge="bottomright"
              formControlName="recaptcha"
              (reset)="recaptchaHandleReset()"
              (ready)="recaptchaHandleReady()"
              (load)="recaptchaHandleLoad()"
              (success)="recaptchaHandleSuccess($event)"              
              (error)="recaptchaHandleError()">
            </ngx-invisible-recaptcha>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer class="footer"></footer>
</div>