.page-flexbox-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.header, .footer {
    z-index: 2;
    background-color: white;
}

.logo {
    width: 400px;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
    text-align: justify;
}

.login-main-text h2{
    font-weight: 300;
}

@media screen and (max-width: 1280px){
    .logo {
        width: 300px;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
    }    
}

@media screen and (max-width: 768px){
    .login-main-text{
        margin-top: 5%;
        padding: 30px;
        color: #fff;
    }
    .login-form{
        margin-top: 5%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 20%;
    }
}


.btn-black{
    background-color: #000 !important;
    color: #fff;
}

form {
    border: 1px solid #cacaca!important;
    border-radius: 5px;
    padding: 1em;
}