<div class="page-flexbox-wrapper">
    <header class="animated fadeInDown fast">
        <app-header [menu]='false'></app-header>
    </header>
    <div class="body-content animated fadeIn">
      <div class='text-center' style='margin-top: 10%;'>
        <h1 class="" style='font-size: 10em;'>404 <i class="fa fa-file"></i></h1>
        <p class="">La página <strong>NO</strong> existe.</p>      
        <a [routerLink]="['/principal']" class="btn btn-outline-primary">Ir a página principal</a>
      </div>
    </div>
    <footer class="animated fadeInUp fast">
        <app-footer></app-footer>
    </footer>
</div>
