<div class="page-flexbox-wrapper animated fadeIn delay-1s">
    <header class="header">
        <img class="logo m-3" src="./assets/images/logo.png" alt="Gobierno del Estado de Colima">
    </header>
    <div class="Site-content">
        <div class="sidenav">
            <div class="main-text">
            <h2>
                Comprobantes<br />
                de Nómina
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad harum vero quae voluptate quasi sapiente provident excepturi alias laboriosam odit. Ducimus, explicabo dolorum aut temporibus reprehenderit nesciunt odio molestias aperiam.
            </p>
            </div>
        </div>
        <router-outlet></router-outlet>
        <br>
    </div>
    <footer class="footer"></footer>
</div>