.pageTitle{
    border-bottom: 2px solid #a9a9a9;
    margin-right: 32%;
    line-height: 150%;
}

iframe {
    width: 100%;
    height: 1700px;
}

.fixedPanel {
    right: -10px;
    bottom: 5%;
    border-top: 2px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-bottom: 2px solid #a9a9a9;
    border-radius: 10px;
    background-color: #f5f5f5

}

a {
    cursor: pointer;
}