.pageTitle{
    border-bottom: 1px solid #cacaca;
    margin-right: 32%;
    line-height: 150%;
}

.table thead, .table th {
    text-align: center;
}

a{
    cursor: pointer;
}

.dataTables_info {
    white-space: normal!important;
}