<div>
  <h1 class="pageTitle">Comprobante de ingresos</h1>
  <br>
  <!-- BEGIN TABLE -->
  <table #tablaComprobantes class="table table-striped responsive compact" style="width:100%">
    <thead>
      <tr>
          <th>UUID SAT</th>
          <th>Fecha de Timbrado</th>              
          <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of comprobantesList">
        <td>{{ item.UUID }}</td>
        <td>{{ item.fechaTimbrado }}</td>
        <td class="d-flex justify-content-md-between">
            <a (click)="showDetail($event, item.UUID)" class='m-2' title='Detalle'><i class="fa fa fa-file-text-o fa-2x"></i></a>
            <a (click)="getXml($event, item.UUID)" class='m-2' title='Descargar XML'><i class="fa fa fa-file-code-o fa-2x"></i></a>
            <a (click)="getPdf($event, item.UUID)"  class='m-2' title='Descargar comprobante fiscal'><i class="fa fa fa-file-pdf-o fa-2x"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- END TABLE -->
</div>