<div>
  <!-- BEGIN TABLE -->
  <table #tablaComprobantes class="table table-striped dt-responsive" style="width:100%">
    <thead>
      <tr>
          <th>UUID SAT</th>
          <th>Fecha de Timbrado</th>              
          <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>58133228-4849-4D9D-8C58-085A9407C9A5</td>
        <td>23 de Enero del 2017 11:04:00</td>
        <td>
            <a class='m-2' href="#" title='Detalle'><i class="fa fa-eye fa-2x"></i></a>
            <a class='m-2' href="#" title='Descargar XML'><i class="fa fa-pencil-square-o fa-2x"></i></a>
            <a class='m-2' href="#" title='Descargar comprobante fiscal'><i class="fa fa-trash fa-2x"></i></a>
        </td>
      </tr>          
    </tbody>
  </table>
  <!-- END TABLE -->
</div>