<img src='{{LOGO}}' alt='Gobierno del Estado de Colima' style='width:200px; display: inline;'/>
<h1 style='display: inline;margin-left:.5em;'>
  Gobierno del Estado de Colima
</h1>
<h3>Plataforma de Comprobantes de Nómina</h3>
<hr />
<h1>{{NOMBRE}}</h1>
<p style='font-size: 1.2em'>
  Éste correo tiene como finalidad la activación del acceso a la plataforma,
  para concluir con el proceso favor de ingresar a la siguiente liga <a href='{{LINK}}'>ACTIVAR ACCESO</a>, 
  en caso de tener problema con el vínculo anterior,favor de copiar y
  pegar en una ventana de su navegador la siguiente liga {{LINK}}
</p>
<p><strong>
  En caso de no reconocer la información contenida en éste correo, 
  favor de hacer caso omiso del mensaje.
</strong></p>     
<p>Gracias.</p>