a {
    cursor: pointer;
}

.main {
    
}

// @media screen and (min-width: 768px){
//     .main{
//         margin-left: 40%;        
//     }    
// }

// @media screen and (max-width: 768px){
//     .main{
//         margin-top: 10px;        
//     }    
// }

.form {
    border: 1px solid #cacaca!important;
    border-radius: 5px;
    padding: 1em;
}

@media screen and (max-height: 575px){
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}